{% extends "base.html" %}
{% block content %}

    {% if error_msg != None %}
        <div class="error">
            {{ error_msg }}
        </div>
    {% endif %}


    <ul>
        <li><a href="{{url_for('main')}}">Return to Main Page</a></li>
    </ul>
    {% if title == "AUTO CONFIG" %}
      <form action="{{url_for('pool_config_form')}}" method="get">
        <input type="submit" value="SWITCH TO MANUAL CONFIG" style="width:22%;">
      </form>
      <ul>
        Currently, active instance: {{current_size}}<br>
        Please specify the parameters for auto-scaler.<br>
        You can switch to automatic model by submitting these parameters.
      </ul>
      <form action="{{url_for('pool_config_post')}}"  enctype="multipart/form-data" method="post">
          Max Missrate Threshold <br/><input type="string" name="max_missrate_th" value = "{{ max_mr_th }}">(between 0 to 100)<br/><br/>
          Min Missrate Threshold <br/><input type="string" name="min_missrate_th" value = "{{ min_mr_th }}">(between 0 to 100)<br/><br/>
          Expand Cache Pool Ratio <br/><input type="string" name="expand_ratio" value = "{{ expand_ratio }}">(greater than 1.0)<br/><br/>
          Shrink Cache Pool Ratio <br/><input type="string" name="shrink_ratio" value = "{{ shrink_ratio }}">(between 0.0 and 1.0)<br/><br/>

          <input type="submit" name="action" value="submit">
      </form>
    {% else %}
      <form action="{{url_for('pool_config_form')}}" method="get">
        <input type="submit" value="SWITCH TO AUTO CONFIG" style="width:22%;">
      </form>
      <ul>
        Currently, active instance: {{current_size}}<br>
        The max number of instance is 8. <br>
        The min number of instance is 1. <br>
        You can click expand or shrink to add or remove one memcache and switch to manuel mode.
      </ul>
      <form action="{{url_for('pool_config_post')}}"  enctype="multipart/form-data" method="post">
          <div class="panel-body">
              <input type ="submit" name="action" value="shrink">
              <input type ="submit" name="action" value="expand">
          </div> 
      </form>
    {% endif %}
{% endblock %}