<!DOCTYPE html>
<head>
    <title>Very simple memcache</title>
</head>
<html>
    <body>

        <form action="{{ url_for('get')}}" method="post">
            <label>key:</label>
            <input type="text" name="key" />
            <input type="submit" value="get" />
        </form>

        <form action="{{ url_for('put')}}" method="post" enctype="multipart/form-data">
            <label>key:</label>
            <input type="text" name="key" />
            

            <input type="file" name="image" id="image">
            <input type="submit" value="put" />

            
        </form>

        <form action="{{ url_for('invalidateKey')}}" method="post">
            <label>key:</label>
            <input type="text" name="key" />
            <input type="submit" value="invalidateKey" />
        </form>

        <form action="{{ url_for('listall')}}" method="post">
            <input type="submit" value="list all" />
        </form>

        <form action="{{ url_for('clear')}}" method="post">
            <input type="submit" value="clear" />
        </form>

        <form action="{{ url_for('size')}}" method="post">
            <input type="submit" value="check current size" />
        </form>

        <form action="{{ url_for('stats')}}" method="post">
            <input type="submit" value="check current stats" />
        </form>

        <form action="{{ url_for('refreshConfiguration')}}" method="post">
            <input type="submit" value="refreshConfiguration" />
        </form>

    <body>    
</html>