{% extends "base.html" %}
{% block content %}

    {% if error_msg != None %}
        <div class="error">
            {{ error_msg }}
        </div>
    {% endif %}


    <ul>
        <li><a href="{{url_for('main')}}">main</a></li>
    </ul>

    <form action="{{url_for('config_save')}}" method="post">
        <input type="submit" name="action" value = "clear cache"><br/>
        CAPACITY <input type="string" name="capacity_input" value = "{{ init_capacity }}"><br/>
        POLICY
        <select name="policy_input" selected="LRU">
            {% for policy in policys %}
                {% if policy == init_policy %}
                    <option value="{{ policy }}" SELECTED>{{ policy }}</option>
                {% else %}
                    <option value="{{ policy }}" >{{ policy }}</option>
                {% endif %}
            {% endfor %}     
        </select>
        <br/>
        <input type="submit" name="action">
        <input type="reset">
    </form>
{% endblock %}