{% extends "base.html" %}
{% block content %}
    {% if error_msg != None %}
        <div class="error">
            {{ error_msg }}
        </div>
    {% endif %}


    <ul>
        <li><a href="{{url_for('main')}}">Return to Main Page</a></li>
    </ul>

    <form action="{{url_for('upload_save')}}"  enctype="multipart/form-data" method="post">
        KEY <input type="string" name="key_input"><br/><br/>
        What is the image files to upload? <br/><input type="file" name="uploadedfile"><br/><br/>
        <input type="submit">
        <input type="reset">
    </form>
{% endblock %}