{% extends "base.html" %}
{% block content %}

    <ul>
        <li><a href="{{url_for('upload_form')}}">Upload Key and Image Pair</a></li>
        <li><a href="{{url_for('key_form')}}">Get Image From Memcache Using Key</a></li>
        <li><a href="{{url_for('list_keys_form')}}">List all Known Keys</a></li>
        <li><a href="{{url_for('config_form')}}">Change Memcache Configurations</a></li>
        <li><a href="{{url_for('show_stats')}}">Display Memcache Stats</a></li>
    </ul>

{% endblock %}