{% extends "base.html" %}
{% block content %}

    {% if error_msg != None %}
        <div class="error">
            {{ error_msg }}
        </div>
    {% endif %}


    <ul>
        <li><a href="{{url_for('main')}}">Return to Main Page</a></li>
    </ul>   
    <table>
      <thead>
        <tr>
          <th>KEYS</th>
        </tr>
      </thead>
      <tbody>
        {% for list in lists %}
          <tr>
            <td>{{ list.key }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table> 
{% endblock %}
