{% extends "base.html" %}
{% block content %}
    <div class="error">
        {{error_msg if error_msg != None}}
    </div>

    <ul>
        <li><a href="{{url_for('main')}}">main</a></li>
    </ul>

    <form action="{{url_for('key_save')}}" method="post">
        KEY <input type="string" name="key_input"><br/>
        <input type="submit">
        <input type="reset">
    </form>
    {% if img != None %}
        <img src="data:image/jpeg;base64,{{ img }}" alt="User Image"><br/>
    {% endif %}
    {% if img_file != None %}
        <img src="data:image/jpeg;base64,{{ img_file }}" alt="User Image"><br/>
    {% endif %}
{% endblock %}