{% extends "base.html" %}
{% block content %}
    <ul>
        <li><a href="{{url_for('main')}}">Return to Main Page</a></li>
    </ul>

    <div class="center">
        {% if error_msg %}
            <div class="error">
                {{error_msg}}
            </div>
        {% else %}
            Displaying Statistics for the Memcache from {{ start_time }} to {{ end_time }} <br>
            <h2>Number of Worksers</h2>

            <div id="workers_plot" class="ploot"></div>

            <h2>Miss Rate</h2>

            <div id="miss_rate_plot" class="ploot"></div>

            <h2>Hit Rate</h2>

            <div id="hit_rate_plot" class="ploot"></div>

            <h2>Number of Items</h2>

            <div id="num_items_plot" class="ploot"></div>

            <h2>Total Memcache Size</h2>

            <div id="total_size_plot" class="ploot"></div>

            <h2>Number of Requests</h2>

            <div id="num_requests_plot" class="ploot"></div>

        {% endif %}
    </div>

    <script>
        plus_percent = function(val, axis){
            return val + "%"
        };
        plus_kb = function(val, axis){
            return val + "KB"
        };

        var options = {
            series: {
                lines: { show: true },
                points: { show: true },
            },
            xaxis: { mode: "time", timeformat: '%H:%M', timezone:"browser"},
            yaxis: { min: 0, },
        };
        var percent_options = {
            series: {
                lines: { show: true },
                points: { show: true },
            },
            xaxis: { mode: "time", timeformat: '%H:%M', timezone:"browser"},
            yaxis: { tickFormatter: plus_percent, min: 0, },
        };
        var kb_options = {
            series: {
                lines: { show: true },
                points: { show: true },
            },
            xaxis: { mode: "time", timeformat: '%H:%M', timezone:"browser"},
            yaxis: { tickFormatter: plus_kb, min: 0, },
        };

        $.plot($("#workers_plot"),[  {{ workers }} ], options);
        $.plot($("#miss_rate_plot"),[  {{ miss_rate }}   ], percent_options);
        $.plot($("#hit_rate_plot"), [  {{ hit_rate }}   ], percent_options);
        $.plot($("#num_items_plot"), [  {{ num_items }}   ], options);
        $.plot($("#total_size_plot"), [  {{ total_size }}   ], kb_options);
        $.plot($("#num_requests_plot"), [  {{ num_requests }}   ], options);

    </script>

{% endblock %}
