{% extends "base.html" %}
{% block content %}
    {% if error_msg != None %}
        <div class="error">
            {{ error_msg }}
        </div>
    {% endif %}


    <ul>
        <li><a href="{{url_for('main')}}">Return to Main Page</a></li>
    </ul>

    <ul>
        Currently, active instance: {{current_size}}<br>
        Please specify the parameters for auto-scaler.<br>
        You can switch to automatic model by submitting these parameters.
    </ul>

    <form action="{{url_for('auto_config_expand')}}"  enctype="multipart/form-data" method="post">
        
        <input type="submit" name="action" value="auto_expand">
    </form>

    <form action="{{url_for('auto_config_shrink')}}"  enctype="multipart/form-data" method="post">
        
        <input type="submit" name="action" value="auto_shrink">
    </form>

    <form action="{{url_for('auto_config_post')}}"  enctype="multipart/form-data" method="post">
        Max Missrate Threshold <br/><input type="string" name="max_missrate_th" value = "{{ max_mr_th }}">(between 0 to 100)<br/><br/>
        Min Missrate Threshold <br/><input type="string" name="min_missrate_th" value = "{{ min_mr_th }}">(between 0 to 100)<br/><br/>
        Expand Cache Pool Ratio <br/><input type="string" name="expand_ratio" value = "{{ expand_ratio }}">(greater than 1.0)<br/><br/>
        Shrink Cache Pool Ratio <br/><input type="string" name="shrink_ratio" value = "{{ shrink_ratio }}">(between 0.0 and 1.0)<br/><br/>
        
        <input type="submit" name="action" value="change to automatic model">
    </form>
{% endblock %}
